html {
    height: 100%;
}
body {
    height: 100%;
}
.main-frame {
    width: 100%;
    height: 100%;
}

.setup {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding: 70px 0;
}

.setup-icon {
    display: flex;
    justify-content: center;
    width: 50px;
}

@media (min-aspect-ratio: 1/1) {
    #setup-form {
        margin-top: 120px;
        padding-bottom: 120px;
    }
}

.game {
    display: none;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.game img {
    width: 250px;
    height: auto;
}
.game-section{
    display: flex;
    flex-direction: column;
}
.stat {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 16px;
}

#result {
    font-size: 22px;
    height: 30px;
    max-height: 30px;
    text-align: center;
}

.game-over {
    display: none;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}